
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

.full-width {
   width: 100%;
}

.align-center {
   text-align: center;
}