
body {
   color: $color-black;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   -moz-font-feature-settings:    "kern" 1; 
   -ms-font-feature-settings:     "kern" 1; 
   -o-font-feature-settings:      "kern" 1; 
   -webkit-font-feature-settings: "kern" 1; 
   font-feature-settings:         "kern" 1;
   font-kerning: normal;
   -webkit-font-smoothing: antialiased; /* Chrome, Safari */
   -moz-osx-font-smoothing: grayscale; /* Firefox */
}

h1, h2 {
   font-family: 'Libre Baskerville', serif; 
}

h2 {
   font-size: 3.6rem;
}

h3 {
   font-size: 2.1rem;
}

a {
   color: $color-secondary;
   text-decoration: none;
   cursor: pointer;
}