$color-primary: #716CD8;
$color-primary-dark: rgb(99, 92, 230);
$color-secondary: #2BBFE4;
$color-secondary-dark: rgb(0, 126, 158);

$color-black: #222222;
$color-grey-dark: #404040;
$color-grey: #AAAAAA;
$color-grey-light: #DDDDDD;